{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block object-tools-items %}
	{{ block.super }}
	{% if change %}
		<li><a href="{{ original.get_export_phyloxml_absolute_url }}" class="exportlink">{% trans 'Export PhyloXML' %}</a></li>
		<li><a href="{{ original.get_export_nexus_absolute_url }}" class="exportlink">{% trans 'Export Nexus' %}</a></li>
		<li><a href="{{ original.get_export_newick_absolute_url }}" class="exportlink">{% trans 'Export Newick' %}</a></li>
	{% endif %}
{% endblock %}
